{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>
<h2>Flight Details</h2>
<ul>
    <li>Airline: {{doc.airplane}}</li>
    <li>{{doc.source_airport_code}} --> {{doc.destination_airport_code}}</li>
    <li>{{frappe.utils.format_date(doc.date_of_departure, " YYYY-mm-dd") }} | {{frappe.utils.format_time(doc.time_of_departure) }}</li>
    <li>Duration :  {{frappe.utils.format_duration(doc.duration) }}</li>
  </ul>
  <a href="/web-form" class="btn btn-primary">Book Flight</a>
{% endblock %}

<!-- this is a sample default web page template -->